*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    width: 100%;
    background-color: #1e2235;
}
.caixao{
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 200px auto;
}
p{
    text-align: center;
}
h1{
    margin-bottom: 0.5em;
}
input{
    outline: none;
    border-radius: 25px;
    font-weight: 600;
    color: black;
    padding: 0.3em;
    margin-bottom: 1em;
}
button{
    cursor: pointer;
    padding: 0.3em;
    border: none;
    color: black;
    font-weight: 600;
    background-color: #414a75;
    border-radius: 35px;
}
.botao{
    display: flex;
    justify-content: end;
}
button:hover{
    background-color: #4c568a;
}
button:active{
    background-color: #525f9e;
}